In [1]:
patron = "[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}"
!grep -Eo "$patron" data/DDOS.txt > data/IPsDDoS.txt

patron = "[a-z]{3}\/[0-9]{2}\/[0-9]{4}"
!grep -Eo "$patron" data/DDOS.txt >> data/IPsDDoS.txt

patron = "[0-9]{2}\:[0-9]{2}\:[0-9]{2}"
!grep -Eo "$patron" data/DDOS.txt >> data/IPsDDoS.txt

In [32]:
with open("data/IPsDDoS.txt") as ips:
    data = ips.read()
    data = data.replace("\n", " ").split()

In [33]:
ips = []
dia = []
hora = []
for i in range(int(len(data)/3)):
    ips.append(data[i])
    dia.append(data[int(len(data)/3)+i])
    hora.append(data[(int(len(data)/3))*2+i])
    data[i] = data[i] + " " + data[int(len(data)/3)+i] + " " + data[(int(len(data)/3))*2+i]

In [34]:
data = data[:int(len(data)/3)]

In [42]:
for i in range(6):
    print(data[i])
    print(data[len(data)-1-i])

45.204.126.117 may/22/2023 23:47:10
43.225.58.19 may/22/2023 23:47:19
59.153.100.70 may/22/2023 23:47:10
103.119.129.64 may/22/2023 23:47:19
1.32.249.141 may/22/2023 23:47:10
43.225.58.182 may/22/2023 23:47:19
103.116.15.134 may/22/2023 23:47:10
43.225.58.88 may/22/2023 23:47:19
43.225.58.180 may/22/2023 23:47:10
43.225.58.251 may/22/2023 23:47:19
64.112.28.230 may/22/2023 23:47:10
174.136.237.68 may/22/2023 23:47:19

In [49]:
import pandas as pd
import os
from modulos.abuseIPDB import AbuseIPDB

In [50]:
df = pd.DataFrame(data={'ip': ips,
                       'dia': dia,
                       'hora': hora})

In [51]:
df

                 ip          dia      hora
0    45.204.126.117  may/22/2023  23:47:10
1     59.153.100.70  may/22/2023  23:47:10
2      1.32.249.141  may/22/2023  23:47:10
3    103.116.15.134  may/22/2023  23:47:10
4     43.225.58.180  may/22/2023  23:47:10
..              ...          ...       ...
373   43.225.58.251  may/22/2023  23:47:19
374    43.225.58.88  may/22/2023  23:47:19
375   43.225.58.182  may/22/2023  23:47:19
376  103.119.129.64  may/22/2023  23:47:19
377    43.225.58.19  may/22/2023  23:47:19

[378 rows x 3 columns]

In [52]:
apiAbuse = AbuseIPDB()

In [1]:
#Declaro las keys de la info que devuelve mi implementación de requests
keys = ['esPublica', 'estaEnWhitelist', 'scoreAbuso', 'pais', 'codigoPais', 'isp', 'uso', 'ultimoReporte']

diccDf = {'ip' : []}

if os.path.isfile("data/ipDDOS.csv"):
    
    df = pd.read_csv("data/ipDDOS.csv")
    
else:
    for ip in ips:
        diccDf['ip'].append(ip)
        info = apiAbuse.getInfo(ip)
        for key in keys:
            if key in diccDf:
                diccDf[key].append(info[key])
            else:
                diccDf[key] = [info[key]]

diccDf["hora"] = df["hora"]
diccDf["dia"] = df["dia"]
df = pd.DataFrame(data=diccDf)

NameError: name 'os' is not defined

In [54]:
df

,ip,esPublica,estaEnWhitelist,scoreAbuso,pais,codigoPais,isp,uso,ultimoReporte
0,45.204.126.117,True,None,0,NaN,HK,Intercontinental Internet Data Corp,Data Center/Web Hosting/Transit,None
1,59.153.100.70,True,None,0,NaN,BD,Dot Internet,Fixed Line ISP,None
2,1.32.249.141,True,None,0,NaN,HK,CTG Server Ltd.,Data Center/Web Hosting/Transit,None
3,103.116.15.134,True,None,0,NaN,TW,Shine Telecom Co. Ltd.,Commercial,None
4,43.225.58.180,True,None,0,NaN,HK,Dragon Spirit Investments International Co. Li...,Data Center/Web Hosting/Transit,None
...,...,...,...,...,...,...,...,...,...
373,43.225.58.251,True,None,0,NaN,HK,Dragon Spirit Investments International Co. Li...,Data Center/Web Hosting/Transit,None
374,43.225.58.88,True,None,0,NaN,HK,Dragon Spirit Investments International Co. Li...,Data Center/Web Hosting/Transit,None
375,43.225.58.182,True,None,0,NaN,HK,Dragon Spirit Investments International Co. Li...,Data Center/Web Hosting/Transit,None
376,103.119.129.64,True,None,0,NaN,HK,Suniway Group Limited,Data Center/Web Hosting/Transit,None
377,43.225.58.19,True,None,0,NaN,HK,Dragon Spirit Investments International Co. Li...,Data Center/Web Hosting/Transit,None

In [55]:
df.to_csv("data/ipDDOS.csv")